/*hey look it's a comment*/
/*I hated the old page so I made a new one*/

*{
    color: hsl(0, 0%, 0%);
}

body{
    background-color: #ffe8d6;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
}

header{
    background-color: #a5a58d;
    padding: 20px 50px 20px 50px;
    text-align: center;
    color: white;
    margin: 0;
    font-family:'Limelight', cursive;
}

#menu{
    text-align: left;
    background-color: #cb997e;
    margin: 0px 0px 0px 0px;
    position:sticky;
    position: -webkit-sticky;
    top: 0px;
    border-bottom: .5vh solid #6b705c;
    border-top: .5vh solid #6b705c;
}

#menu ul{
    padding-left: 1cm;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 1cm;
    margin: 0;
}

#menu li{
    display: inline;
    font-size: 16pt;
    margin: 0px;
}

#menu a{
    color: white;
    text-decoration: none;
}

#menu a:hover {
    color: rgb(128, 128, 128);
    text-decoration: underline;
}

.list-pipe > li:not(:last-child)::after{
    content: "|";
    margin: 0 .25em;
    color: white;
}

.bulletin{
    border-style:solid;
    border-color: #6b705c;
    color: black;
    border-width: 5px;
    border-radius: 10px;
    margin: 2% 30% 2% 30%;
    padding: 10px;
    background-color: #b7b7a4;
    min-width: 300px;
    max-width: 500px;
}

.bulletin h3{
    text-align: center;
    text-decoration: underline;
}

.text-container{
    margin: 5% 5% 20% 5%;
}

footer{
    background: rgb(100, 100, 100);
    color:white;
    text-align: center;
    padding: 20px;
    margin: auto;
}

.flex-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #b7b7a4;
    margin: 2% 30% 2% 30%;
    border: 5px solid #6b705c;
    border-radius: 5px;
}

.flex-item{
    background-color: #a5a58d;
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 5px;
}

.flex-item-grow{
    flex-grow: 1.5;
    background-color: #cb997e;
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 5px;
}